---
interface Props {
  title: string;
}
const { title } = Astro.props;
---
<div class="bg-stone-300 flex flex-col md:shadow-xl rounded-lg md:rounded-xl">
  <div class="p-2 md:p-4">
    <span class="font-semibold text-md md:text-xl text-stone-700">{title}</span>
  </div>
  <div class="bg-stone-200" style="height:1px;width:100%;" />
  <div class="p-2 md:p-4">
    <slot />
  </div>
</div>
