---
import Footer from "../components/footer/Footer.astro"
import Navbar from "../components/Navbar.astro"
import BaseLayout from "../layouts/BaseLayout.astro"
---
<BaseLayout title="Take The Reins">
	<div class="px-2 lg:px-8 py-1 lg:py-2 bg-orange-950 mb-10">
		<Navbar />
	</div>
	<main class="flex flex-col items-center bg-stone-50 x-container">
    <span class="text-xl font-semibold text-stone-900 pb-2">
      Our Mission
    </span>
    <span class="text-lg text-center text-stone-700 max-w-3xl px-2 pb-10 leading-snug">
      Take The Reins is a 501(c)(3) nonprofit founded in 2023 by etc etc etc this is some body text we can replace
      with whatever we'd like Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
      dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
        deserunt mollit anim id est laborum.
    </span>
	</main>
	<Footer />
</BaseLayout>

<style>
.x-container {
  min-height: 70vh;
}
</style>