---
import Button from '../components/Button.astro';
import IndexNavbar from '../components/index/IndexNavbar.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import ContentContainer from '../layouts/ContentContainer.astro';
import Footer from '../components/footer/Footer.astro';
import TTRSignature from '../components/TTRSignature.astro';
---
<BaseLayout backgroundColor='#e7e5e4' title="Take The Reins">
  <IndexNavbar />
	<video autoplay class="x-hero-video pt-0" muted playsinline>
		<source src="/ttr-hero-comp-v6-l.mp4" />
	</video>
	<ContentContainer>
		<div class="flex flex-row items-center justify-center py-12 md:py-20">
			<span class="text-3xl md:text-4xl text-center font-light italic text-zinc-800">
				Youth taking the reins of their future in a stable and productive environment.
			</span>
		</div>
		<div class="flex flex-col pb-12 md:pb-20">
			<span id="our-mission" class="text-3xl">
				Our Mission
			</span>
			<div class="bg-stone-400 x-divider mb-2" />
			<span class="items-end text-md md:text-lg text-start font-light text-zinc-800">
				Take the Reins (<TTRSignature />) offers underserved youth the opportunity to learn and help themselves through
				horsemanship and animal husbandry in a safe, structured environment.  We strive to aid youth in developing
				essential skills and traits to form strong family and professional relationships that become core
				components of their lives. <TTRSignature /> Youth will realize that accomplishment in life comes through applied
				learning, a strong work ethic, and healthy connections with others.
			</span>
		</div>
		<div class="flex flex-col pb-12 md:pb-20">
			<span id="our-mission" class="text-3xl">
				Take The Reins: Youth Stable for Life is...
			</span>
			<div class="bg-stone-400 x-divider mb-2" />
			<span class="items-end text-md md:text-lg text-start font-light text-zinc-800">
				...a 501(c)(3) nonprofit organization founded in 2023.  Our community-based prevention and 
				education program focuses on central Indiana’s under-resourced youth by providing constructive activities in 
				horsemanship, equine sport and educational support. In our initial start up phase, Take the Reins programs will 
				focus on secondary school students aged 11-15 years of age.  Youth must commit to a minimum of one year
				participation and are encouraged and expected to remain in the program through high school graduation. Learn 
				more about our program and getting started!
			</span>
		</div>
		<div class="flex flex-row items-center justify-center gap-4 pb-12 md:pb-20">
			<Button href="/donate" variant='primary'>Donate</Button>
			<Button href="/program">Learn About Our Program</Button>
		</div>
	</ContentContainer>
	<Footer />
</BaseLayout>
<style>
.x-nav {
	width: 100%;
}
.x-hero-video {
	min-height: 50vh;
	max-height: 80vh;
	object-fit: cover;
	object-position: center center;
	width: 100%;
}
.x-divider {
	min-height: 1px;
	max-height: 1px;
	width: 100%;
}
.x-nav-container {
  width: 100vw;
  z-index: 1;
}
</style>
