---
interface Props {
  href: string;
  primary?: boolean;
  target?: "_self" | "_blank";
}
const { href, primary = false, target = "_self" } = Astro.props;
---
<a
  class:list={[
    "px-4 py-2 transition",
    { "border rounded-xl hover:shadow-xl": primary },
    { "border-orange-900 hover:bg-orange-200 hover:border-orange-200": primary },
  ]}
  href={href}
  target={target}>
  <span
    class:list={[
      "font-semibold text-orange-900 transition",
      { "hover:text-orange-700": !primary },
    ]}>
    <slot />
  </span>
</a>
