---
interface Props {
  href: string;
  primary?: boolean;
  target?: "_self" | "_blank";
}
const { href, primary = false, target = "_self" } = Astro.props;
---
<a
  class:list={[
    "px-4 py-2 transition",
    { "border rounded-lg hover:shadow-xl": primary },
    { "border-orange-100 hover:bg-orange-100 hover:border-orange-300": primary },
  ]}
  href={href}
  target={target}>
  <span
    class:list={[
      "font-semibold transition",
      { "text-orange-950": true },
      { "hover:text-orange-50": !primary },
    ]}>
    <slot />
  </span>
</a>
