---
import { Image } from "astro:assets";
import NavbarLink from "./NavbarLink.astro";

interface Props {
}
const {  } = Astro.props;
---
<div class="flex flex-row items-center flex-wrap">
  <a class="flex flex-row items-center flex-wrap" href="/">
    <Image
      alt="Take The Reins logo"
      height={100}
      src="/ttr-logo.png"
      width={100}
    />
    <span class:list={[
      "text-2xl text-orange-950 hover:text-orange-100 font-bold transition-all",
    ]}>Take The Reins</span>
  </a>
  <div class="grow" />
  <div class="flex flex-row items-center flex-wrap">
    <NavbarLink href="/about">ABOUT US</NavbarLink>
    <div class="min-w-2" />
    <NavbarLink href="/donate" primary>
      DONATE
    </NavbarLink>
  </div>
</div>
