---
interface Props {
  href: string;
  target?: "_self" | "_blank";
}
const { href, target } = Astro.props;
---
<a
  class="rounded bg-orange-50 border border-orange-200 px-12 py-6 hover:bg-orange-200 transition-all"
  href={href}
  target={target}
>
  <span class="text-orange-600 text-xl font-semibold">
    <slot />
  </span>
</a>