---
interface Props {
  href: string;
  target?: "_self" | "_blank";
}
const { href, target } = Astro.props;
---
<a
  class:list={{
    "px-12 py-6 transition-all": true,
    "shadow-md hover:shadow-xl": true,
    "border border-orange-300 rounded-xl": true, 
    "bg-orange-200 hover:bg-orange-300": true,
  }}
  href={href}
  target={target}
>
  <span class="text-orange-950 text-xl font-semibold">
    <slot />
  </span>
</a>