---
import { Image } from "astro:assets";
import NavbarLink from "./NavbarLink.astro";
---
<div class="flex flex-row items-center flex-wrap">
  <a href="/">
    <Image
      alt="Women Investors Network logo"
      height={100}
      src="/ttr-logo.png"
      width={100}
    />
  </a>
  <span class="text-2xl font-bold text-orange-50">Take The Reins</span>
  <div class="grow" />
  <div class="flex flex-row items-center flex-wrap">
    <NavbarLink href="/about">ABOUT US</NavbarLink>
    <NavbarLink href="/events">EVENTS</NavbarLink>
    <NavbarLink href="/volunteer">VOLUNTEER</NavbarLink>
    <div class="min-w-2" />
    <NavbarLink href="/donate" primary>
      DONATE
    </NavbarLink>
  </div>
</div>
