#xMenuButton {
  height: 34px;
  width: 34px;
}

#xSidebar {
  background-color: black;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  overflow: hidden;
  padding: 8px;
  position: absolute;
  right: 0;
  transition: right 0.3s ease;
  top: 200;
  width: 250px;
}

#xSidebar.collapsed {
  display: none;
  right: -1000px;
}
