---
---
<div class="flex flex-col gap-1">
  <span class="text-md font-semibold text-stone-500">Discover More</span>
  <a class="text-sm text-stone-500" href="/">Home</a>
  <a class="text-sm text-stone-500" href="/program">Our Program</a>
  <a class="text-sm text-stone-500" href="/success">Program Success</a>
  <a class="text-sm text-stone-500" href="/volunteer">Get Involved</a>
  <a class="text-sm text-stone-500" href="/donate">Donate</a>
</div>
