---
import { Icon } from 'astro-icon/components'
---
<div class="flex flex-col gap-1">
  <span class="text-stone-500 font-bold">Take The Reins</span>
  <div class="flex flex-row items-center gap-2">
    <Icon color="#78716c" name="mdi:my-location" />
    <div class="flex flex-col items-center">
      <span class="text-sm text-stone-500 italic">Indianapolis, IN</span>
    </div>
  </div>
  <div class="flex flex-row items-center gap-2">
    <Icon color="#78716c" name="mdi:envelope" />
    <span class="text-sm text-stone-500 italic">
      <a href="mailto:contact@take-the-reins.org">
        contact@take-the-reins.org
      </a>
    </span>
  </div>
</div>
