---
import FooterContact from './FooterContact.astro';
import FooterDev from './FooterDev.astro';
---
<div class="bg-stone-800">
  <div class="flex flex-row gap-4">
    <FooterContact />
    <div class="flex-grow" />
    <FooterDev />
  </div>
</div>
