---
---
<div class="flex flex-col gap-1">
  <span class="text-stone-500 text-sm italic">Your Privacy</span>
  <!-- <span class="text-stone-500 text-sm italic">Crafted by @MikeHockerman</span> -->
</div>