---
import { Icon } from 'astro-icon/components'
---
<div class="flex flex-col gap-1">
  <span class="text-stone-50 font-bold">Take The Reins</span>
  <div class="flex flex-row items-center gap-2">
    <Icon color="white" name="mdi:my-location" />
    <div class="flex flex-col">
      <span class="text-sm text-stone-300 italic">Noblesville, IN</span>
    </div>
  </div>
  <!-- <div class="flex flex-row items-center gap-2"> -->
    <!-- <Icon color="white" name="mdi:phone" /> -->
    <!-- <span class="text-sm text-stone-300 italic">(555) 555-5555</span> -->
  <!-- </div> -->
  <div class="flex flex-row items-center gap-2">
    <Icon color="white" name="mdi:envelope" />
    <span class="text-sm text-stone-300 italic">contact@take-the-reins.org</span>
  </div>
</div>
