---
import { Icon } from "astro-icon/components";
import IndexNavItem from "./IndexNavItem.astro";
---
<div class="absolute p-4 w-screen z-10">
  <div class="md:flex flex-row flex-wrap gap-4 hidden items-center justify-center w-full z-10">
    <IndexNavItem href="/#our-mission" label="Our Mission" />
    <IndexNavItem href="/program" label="Our Program" />
    <IndexNavItem href="/success" label="Program Success" />
    <IndexNavItem href="/start-up-campaign" label="Start Up Campaign" />
    <IndexNavItem href="/get-involved" label="Get Involved" />
    <IndexNavItem href="/about" label="About Us" />
    <IndexNavItem href="/donate" label="Donate" />
  </div>
  <div class="flex flex-row md:hidden w-full z-10">
    <div class="grow" />
    <div id="menu-button-container">
      <Icon id="menu-button" color="white" name="mdi:menu" />
    </div>
  </div>
  <div class="collapsed md:hidden" id="sidebar">
    <IndexNavItem href="/#our-mission" label="Our Mission" />
    <IndexNavItem href="/program" label="Our Program" />
    <IndexNavItem href="/success" label="Program Success" />
    <IndexNavItem href="/start-up-campaign" label="Start Up Campaign" />
    <IndexNavItem href="/get-involved" label="Get Involved" />
    <IndexNavItem href="/about" label="About Us" />
    <IndexNavItem href="/donate" label="Donate" />
  </div>
</div>
<style>
  #menu-button {
    height: 34px;
    width: 34px;
  }
  #sidebar {
    background-color: black;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    overflow: hidden;
    padding: 8px;
    position: absolute;
    right: 0;
    top: 200;
    transition: right 0.3s ease;
    width: 250px;
  }
  #sidebar.collapsed {
    display: none;
    right: -1000px;
  }
</style>
<script>
  document.getElementById('menu-button')?.addEventListener('click', () => {
    document.getElementById("sidebar")?.classList.toggle("collapsed");
  });
</script>

