---
interface Props {
  imgSrc: string;
  text: string;
}
const { imgSrc, text } = Astro.props;
---
<div class="flex flex-col items-center rounded-lg shadow-md">
  <img class="rounded-t-lg x-img" src={imgSrc} />
  <span class="p-2 x-text text font-semibold text-stone-800 text-center">
    {text}
  </span>
</div>
<style>
.x-img {
  max-width: 200px;
}
.x-text {
  max-width: 200px;
}
</style>