---
interface Props {
  href: string;
}
const { href } = Astro.props;
---
<a class:list={{
  "px-2 py-1": true,
  "md:px-3 md:py-2": true,

  "text-lg md:text-xl font-semibold": true,

  "flex flex-row items-center justify-center grow": true,
  "bg-stone-100 hover:bg-orange-200 hover:shadow-xl": true,
  "rounded-xl": true,
  "transition-all": true,
}} href={href}>
  <slot />
</a>
