---
interface Props {
  constrainWidth?: boolean;
}
let { constrainWidth } = Astro.props;
if (typeof constrainWidth === 'undefined') {
  constrainWidth = true;
}
---
<main class="flex flex-col items-center bg-stone-50 x-container px-4 py-8">
  <div class:list={["flex flex-col items-center", { "max-w-4xl": constrainWidth }]}>
    <slot />
  </div>
</main>
<style>
.x-container {
  min-height: 70vh;
}
</style>